body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    background: #f4f6f8;
    margin-top: 40px;

}
.container{
    background: #fff;
    padding: 30px;
    width: 370px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(11, 1, 1, 0.1);
}
.head{
    text-align: center;

}
.balance{
    text-align: center;
}
.summary{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.add-exp{
    text-align: center;
    margin-bottom: 30px;
}
.money.plus{
    color: green;
}
.money.minus{
    color:red
}
form input{
    width:100%;
    padding: 8px;
    color: #0f0404;
    
}
form button{
    width:100% ;
    padding: 10px;
    background: bisque;
}
ul{
    list-style: none;
    padding: 0;
}
li{
    background: #eee;
    padding: 8px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}